<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

		<%= form_for @direction, url: user_directions_path do |d| %>

			<div class="form-group">
				<label for="title">Title:</label>
				<%= d.text_field :title, class: 'form-text-field form-control', placeholder: "Title" %>
			</div>

			<div class="form-group">
				<label for="body">Directions:</label>
				<%= d.text_area :body, class: 'form-control', rows: '10', cols: '60' %>
			</div>

			<%= d.submit 'Update Your Directions!', class: 'btn btn-primary' %>
			<%= link_to 'Cancel', user_directions_path, class: 'btn btn-default' %>

		<% end %>

	</div>
</div>