<div class="row">
	<div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">

		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">My Account Information</h3>
		  </div>
		  <div class="panel-body">
		  	<p>First name: <%= @user.first_name %></p>
				<p>Last name: <%= @user.last_name %></p>
				<p>Username: <%= @user.username %></p>
				<p>Email: <%= @user.email %></p>
		  </div>
		  <div class="panel-footer"><%= link_to 'Edit My Account', edit_user_path(@current_user), role: 'button', class: 'btn btn-primary' %></div>
		</div>

		<div class="panel panel-danger">
		  <div class="panel-heading">
		    <h3 class="panel-title">Delete My Account</h3>
		  </div>
		  <div class="panel-body">
		  	Please click on the button below if you wish to delete your account. You will be asked to confirm your decision.
		  </div>
		  <div class="panel-footer"><button type="button" class="btn btn-danger" data-toggle="modal" data-target=".delete-acct-modal">Delete My Account</button></div>
		</div>
		
		<div class="modal fade delete-acct-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Delete Your Account?</h4>
		      </div>
		      <div class="modal-body">
		        Are you sure you want to delete your account? All of your personal information and all of the directions that you've written will be deleted as well. You will not be able to recover any of it!
		      </div>
		      <div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        	<%= link_to 'Yes, delete my account', user_path(@current_user), method: 'delete', role: 'button', class: 'btn btn-danger' %>
	      	</div>
		    </div>
		  </div>
		</div>

	</div>
</div>