<!DOCTYPE html>
<html lang="en">
<head>
  <title>Directionr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">

      <% flash.each do |key, value| %>
        <div class='alert alert-<%= key %>' role='alert'>
          <% if value.class != Array %>
            <%= value %>
          <% else %>
            <% value.each do |msg| %>
              <p><%= msg %></p>
            <% end %>
        <% end %>
        </div>
      <% end %>

    </div>
  </div>

  <%= yield %>
  
</body>
</html>